{% extends 'base.html.twig' %}

{% block title %}Lists Session{% endblock %}


{% block body %}

{% if sessions %}
    

{% for session in sessions %}

<p> {{ session.formation.name }} </p>

{% endfor %}

{% else %}

<p> No Session currently.</p>
{% endif %}


{% endblock %}