@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    transition: 0.5s;
}

body {

    --first-color: #000000;
    --second-color: #FFFFFF;
    --btn-color: #0F7CB9;
    --btn-color-hover: rgb(32, 114, 158);
    --bg-white: #FFFFFF;
    --bg-cards: #FBFBFB;
    --bg-cards-module: #CEEBFB;
    --color-titleSeparator: rgb(1, 3, 8);
    --bg-border: #838181;
    --bg-module: #a3d8f5;
    --bg-content: #DDE4F4;
    --bg-input: #FFFFFF;


    --ExtraLight: 200;
    --Light: 300;
    --Regular: 400;
    --Medium: 500;
    --SemiBold: 600;
    --Bold: 700;
    --ExtraBold: 800;
    --Black: 900;

}

body.dark-theme {

    --first-color: #FFFFFF;
    --second-color: #000000;
    --btn-color: #4B98C2;
    --bg-white: #1C1C1C;
    --bg-cards: #242424;
    --bg-cards-module: #CEEBFB;
    --color-titleSeparator: #010405;
    --bg-border: #838181;
    --bg-content: #5F6061;
    --bg-input: #9c9c9c;
}

.green {
    color: #017121;
    font-weight: 700;
}

.red {
    color: #BB0000;
    font-weight: 700;
}

.blue {
    color: var(--btn-color);
    font-weight: 700;
}

.champObligatoire {
    text-align: center;
    color: var(--first-color);
}


/* *********************************************
********************TEMPLATE*******************
********************************************* */
.title_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 15px;
}

.title_page h1 {
    font-size: 2.1em;
    color: var(--first-color);
    font-weight: var(--Bold);
}

.after_title {
    width: 20%;
    max-width: 150px;
    border: var(--color-titleSeparator) 3px solid;
    margin-left: 10px;
    border-radius: 7px;
}

.wrapper {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav {
    padding: 20px 0;
    height: 100vh;
    background-color: var(--bg-white);
    border-right: solid 1px var(--bg-border);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

.nav h1{
    color: var(--first-color);
}

.content {
    background-color: var(--bg-content);
}

.button {
    padding: 30px 0;
}

.button a {
    padding: 10px 15px;
    border-radius: 50px;
    background-color: var(--btn-color);
    color: var(--second-color);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 5px;
}

.button a:hover {
    background-color: var(--btn-color-hover);
    transition: all 0.3s;
}

.menu_nav {
    max-height: 500px;
}

.menu_nav i {
    font-size: 1.5em;
    padding: 10px 10px;
    color: var(--btn-color);
}

.dashboard,
.ajouts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.dashboard p,
.ajouts p {
    display: flex;
    color: var(--first-color);
    font-size: 1.2em;
}

.dashbord_liste li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
    list-style: none;
}


.ajouts_liste li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
    list-style: none;
}

.dashbord_liste a,
.ajouts_liste a {
    color: var(--first-color);
    text-decoration: none;
}

.topScreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    border-bottom: solid 2px var(--bg-border);
    background-color: var(--bg-white);
}

.topScreen h1 {
    color: var(--first-color);
    width: 270px;
}

.topScreenUser {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.topScreenUser {
    color: var(--first-color);
}

.topScreenUser p {
    color: var(--first-color);
}

.topScreenUser img {
    width: 40px;
    height: 40px;
}

.topScreenUser figure {
    margin: 0;
}

.userNameRole {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    justify-content: center;
    padding: 0 10px;
}

.userNameRole p {
    margin: 0;
    font-weight: 400;
}

.darkmode_button label {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.darkmode_button label:after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.darkmode_button input {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.darkmode_button input:checked + label {
    background: #242424;
}

.darkmode_button input:checked + label:after {
    left: 98px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkmode_button label:active:after {
    width: 52px;
}

.darkmode_button label i {
    position: absolute;
    width: 24px;
    top: 12px;
    z-index: 100;
}

.darkmode_button label i.sun {
    left: 10px; 
    color: #693f00;
    transition: 0.3s;
}

.darkmode_button label i.moon {
    left: 75px; 
    color: #7e7e7e;
    transition: 0.3s;
}

.darkmode_button input:checked + label i.sun {
    color: #7e7e7e;
}

.darkmode_button input:checked + label i.moon {
    color: #bbb4b4;
}

#searchBarTop {
    position: relative;
}

#searchBarTop input {
    border-radius: 25px;
    padding: 0 10px;
    height: 30px;
    background-color: var(--bg-input);
    border: solid 1px black;
    position: relative;
}

#searchBarTop button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 3px;
    right: 10px;
}

#searchBarTop button i{
    color: black;
}

.fa-mobile:before {
    content: '';
}


@media only screen and (max-height: 800px) {
    .dashbord_liste li {
        padding: 6px 0;
    }
    
    
    .ajouts_liste li {
        padding: 6px 0;
    }

    .button {
        padding: 20px 0;
    }
}

