.contentDetFormation {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0 50px;
    gap: 1px;
}

.cardModule {
    width: 100%;
    height: 70px;
    background-color: var(--bg-cards);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
}

.cardModule:hover .arrowModule {
    transform: translateX(5px);
    transition: all 0.5s;
}

.active.cardModule i {
    transform: rotate(90deg);
    transition: all 0.5s;
}

.nameModule p {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
    color: var(--first-color);
}

.joursArrow {
    display: flex;
}

.joursArrow p {
    margin-top: 15px;
    margin-right: 100px;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--first-color);
    display: flex;
    gap: 30px;
}

.joursArrow a {
    color: red;
    text-decoration: none;
}

.joursArrow i {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--btn-color);
}

.description {
    display: none;
}

.active.description {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    transition: all 1s;
}

.descriptionModule {
    width: 90%;
    background-color: #EAEAEA;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
}

.descriptionModule p {
    line-height: 2;
}

.editModuleSession {
    color: rgb(222, 149, 14);
}
.delModuleSession {
  color: red;
  text-align: center;
}

.nbPlace {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--first-color);
}

.nbDay {
    margin-top: 50px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--first-color);
}

.tableStagiaire {
    padding: 20px 0;
    background-color: var(--bg-cards);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.addModule {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 10px;
    background-color: var(--btn-color);
    color: var(--second-color);
    text-decoration: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.addModule:hover {
    filter: opacity(0.9);
    transition: all 0.5s;
}

.addStagiaire,
.addStagiaireComplet {
    border: none;
    padding: 10px 10px;
    background-color: var(--btn-color);
    color: var(--second-color);
    text-decoration: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.addStagiaireComplet {
    background-color: red;
}

.addStagiaireComplet:hover {
    cursor: not-allowed;
}

.addStagiaire:hover {
    filter: opacity(0.9);
    transition: all 0.5s;
}

#formModule {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	50% {
		transform: scaleY(0.7);
		opacity: 0.5;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

#formModule form {
	transform-origin: 50% 0;
	animation: append-animate .3s linear;
}

#formModule label {
    margin-top: 20px;
    font-weight: 600;
    color: var(--first-color);
}

#formModule input[type=number], 
#formModule select {
    width: 500px;
    border: 1px solid black;
    font-weight: 600;
}

#formModule input[type=submit] {
    margin-top: 30px;
}

.formAddStagiaireSession form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

#formStagiaire select {
    width: 300px;
}

#formStagiaire input {
    width: 150px;
}

.table {
    width: 90%;
    border: solid 1px rgba(0, 0, 0, 0.363);
}

table i {
    cursor: pointer;
}

th, td {
    text-align: center;
}


tr {
    height: 40px;
}