.contentDetFormation {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0 50px;
    gap: 1px;
}

.cardModule {
    width: 100%;
    height: 70px;
    background-color: var(--bg-cards);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
}

.cardModule:hover i {
    transform: translateX(5px);
    transition: all 0.5s;
}

.active.cardModule i {
    transform: rotate(90deg);
    transition: all 0.5s;
}

.nameModule p {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
    color: var(--first-color);
}

.joursArrow {
    display: flex;
}

.joursArrow p {
    margin-top: 15px;
    margin-right: 100px;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--first-color);
}

.joursArrow i {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--btn-color);
}

.description {
    display: none;
}

.active.description {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    transition: all 1s;
}

.descriptionModule {
    width: 90%;
    background-color: #EAEAEA;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
}

.descriptionModule p {
    line-height: 2;
}

.nbPlace {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--first-color);
}

.nbDay {
    margin-top: 50px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--first-color);
}

.tableStagiaire {
    padding: 20px 0;
    background-color: var(--bg-cards);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.addStagiaire {
    padding: 10px 10px;
    background-color: var(--btn-color);
    color: var(--second-color);
    text-decoration: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.addStagiaire:hover {
    filter: opacity(0.9);
    transition: all 0.5s;
}

.table {
    width: 90%;
    border: solid 1px rgba(0, 0, 0, 0.363);
}

table i {
    cursor: pointer;
}

th, td {
    text-align: center;
}


tr {
    height: 40px;
}