{% extends 'base.html.twig' %}

{% block title %}Liste Modules{% endblock %}

{% block titlePage %} <h1> MODULE </h1> {% endblock %}

{% block body %}


<div class="contentListModule">

    <div class="title_page">
        <h1> Liste des modules </h1>
        <hr class="after_title" />
    </div>
        
        {% for module in modules %}
        <div class="listModule">
            <h2><a href="{{ path('show_module', {id: module.id}) }}">{{ module }}</a></h2>
        
            <p><strong>Catégorie : </strong> {{ module.category }} </p>

            <div class="actionListModule">
                <a href="#" class="editListModule"> Edit </a>
                <a href="#" class="deleteListModule"> Delete </a>
            </div>
        </div>
        {% endfor %}

</div>


{% endblock %}
