.contentFormSession {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0 50px;
    gap: 1px;
}

.formSession {
    display: flex;
    justify-content: center;
}

.boxFormSession {
    width: 80%;
    padding: 60px;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 5px;
    text-align: center;
    font-size: 1.2em;
}

.boxFormSession h1 {
    font-weight: 700;
}

.boxFormSession input {
    text-align: center;
    border: 1px solid var(--first-color);
}

.boxFormSession label {
    margin-top: 20px;
    font-weight: 600;
}

.boxFormSession button {
    margin-top: 40px;
}

.buttonFormSession {
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--btn-color);
    background-color: var(--second-color);
    border: solid 1px var(--btn-color);
}

.buttonFormSession:hover {
    color: var(--second-color);
    background-color: var(--btn-color);
    border: solid 1px var(--second-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 5px;
    transition: all 0.5s;
}